@import '_global';
@import '_vars';
@import '_fonts';

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

.header__actions {
    display: flex;

}
// .header__search {
//     position: relative;
//     width: 100%;
//     &::before{
//         content: '\f002';
//         color: #444;
//         position: absolute;
//         font-family: 'icomoon' !important;
//         font-size: 18px;
//     }
// }
.header__actions {
    display: flex;
    align-items: center;
    
}
.header__lang{
    margin-right: 25px;
}
.header__btn{
    padding: 15px 20px;
    font-size: 16px;
    transition: all 0.5s;
    &:hover{
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
        padding: 15px 20px;
        border-radius: 3px;
    }
}


.header__bottom {
    background-color: $main;
    height: 75px;
    color: $wh;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 75px;
    a {
        color: $wh;
    }
    li + li {
        margin-left: 70px;
    }
}

// end header


//start Intro

.intro {
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 487px;
    color: $wh;
}
.intro__inner {
    position: relative;
    height: 487px;
}


.intro__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    max-width: 520px;
    padding-top: 125px;
}
.intro__points {
    position: absolute;
    display: flex;
    bottom: 50px;
    list-style: inside;
    li + li {
        margin-left: 50px;
    }
}


// end Intro

// Start functions
.functions {
    margin-bottom: 120px;
}
.functions__title {
    margin-top: 120px;
    margin-bottom: 50px;
    @include mont;
    font-size: 30px;
}

.functions__item {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    &-info,
    &-img {
        display: none;
    }

    &.active {
        display: flex;
        overflow: hidden;
        position: relative;
        .functions__item-content {
            max-width: 760px;
            padding: 45px 150px 85px 60px;
        }
        .functions__item-title {
            margin: 0;
            padding: 45px 0 35px;
            &::after{
                display: none;
            }
        }
        .functions__item-info {
            display: block;

        }
        .functions__item-text {
            margin-bottom: 50px;
            line-height: 28px;
        }
        .functions__item-btn {
            background-color: $main;
            border-radius: 3px;
            font-size: 14px;
            color: $wh;
            padding: 15px 50px;
        }
        .functions__item-img {
            display: block;
            width: 374px;
            background-image: url(../images/filler.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100%;
            border-radius: 0 5px 5px 0;
            
        }
    }
}
.functions__item-title {
    margin: 0 60px;
    padding: 32px 0 28px;
    @include mont;
    font-size: 24px;
    position: relative;
    &::after{
        content: '\f078';
        position: absolute;
        font-family: 'icomoon';
        font-size: 20px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}



// end functions

// Start Footer

.footer {
    background-color: $main;
    padding-top: 65px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
    border-bottom: 1px solid #7D7D7D;
    color: $wh;
    a {
        color: $wh;
    }
}
.footer__logo {
    width: 190px;
}
.footer__col {
    max-width: 215px;
    &-title {
        @include mont;
        font-size: 24px;
        margin-bottom: 23px;
    }
    &-list {
        a {
            line-height: 24px;
        }
        li + li {
            margin-top: 19px;
        }
    }
}
.footer__col + .footer__col {
    margin-left: 25px;
}



.footer__copy {
    font-size: 14px;
    color: #7d7d7d;
    padding: 25px 0;
}

// end Footer